.App {
  text-align: center;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  /* background-color: #2196f3; */
  padding: 1rem;
}

.grid-container {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 1.5rem 0;
  font-size: 2.3rem;
  margin: 4rem;
}

.item1 {
  grid-row: 1 / 2;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.section-app {
  border-radius: 3px;
  background-color: rgb(54, 14, 44);
  margin: 4rem;
  padding: 5rem 0rem;
}
